<h1 *ngIf="size === 1">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</h1>
<h2 *ngIf="size === 2">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</h2>
<h3 *ngIf="size === 3">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</h3>
<h4 *ngIf="size === 4">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</h4>
<h5 *ngIf="size === 5">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</h5>
<h6 *ngIf="size === 6">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</h6>

<ng-template #content>
    <ng-content></ng-content>
</ng-template>