<div class="row">
  <div class="col-12 intro">
    <h1>{{ 'home.title' | translate }}</h1>
    <p>{{ 'home.intro' | translate }}</p>
    <p>{{ 'home.intro2' | translate }}</p>

    <div class="tagbox">
      <tag *ngFor="let tag of popularTags$ | async" [tag]="tag.name"></tag>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>{{ 'posts.page_title' | translate }}</h2>
    <app-overview [items]="posts$ | async"></app-overview>

    <h2>{{ 'conferences.page_title' | translate }}</h2>
    <app-overview [items]="conferences$ | async"></app-overview>
  </div>
</div>