<div class="row">
  <div class="col-12 intro">
    <h1>{{ 'home.title' | translate }}</h1>
    <p>{{ 'home.intro' | translate }}</p>
    <p>{{ 'home.intro2' | translate }}</p>

    <div class="tagbox">
      <tag *ngFor="let tag of popularTags$ | async" [tag]="tag.name"></tag>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-posts-overview [limit]="6" [heading]="2"></app-posts-overview>
    <app-conferences-overview [limit]="6" [heading]="2"></app-conferences-overview>
  </div>
</div>