
:host:not(.plain) {
    background: #343a40;
    color: white;
    font-weight: 400;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;

    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {    
      color: #fff;
      background-color: #23272b;
      border-color: #1d2124;
    }

    img {
      margin-right: 0.25rem;
    }
}

:host {
  display: inline-block;

  padding: 0.25rem 0.5rem;
  line-height: 1.5;

  img {
    width: 1.5rem;
    margin-top: 0.25rem;
    margin-bottom: -0.75rem;
    padding-bottom: 1rem;
  }

}
