
.navbar-nav {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  .nav-item {
    &.search {
      width: 100%;
    }
  }
}

.search-input {
  width: 100%;
  background: #1e1b1d;
  color: #fff;
  border: 1px solid #1e1b1d;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.content {
  margin-top: 25px;
}

form {
  width: 100%;
  position: relative;
}

.btn-github {
  color: #fff;
  background-color: #1e1b1d;
  border-color: #1e1b1d;

  &:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #23272b;
  }
}

.hide-startup {
  display: block;
  overflow: hidden;
}

.navbar-nav {
  margin-top: 10px;
  padding: 0;
}

.btn-github {
  display: none;
}

@media (min-width: 768px) {  
  .btn-github {
    display: inline-block;
  }
  
  .search-input {
    width: calc(100% - 1rem);
    margin-bottom: 0;
  }

  .navbar-nav {
    margin-top: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hide-startup {
    display: block;
    overflow: hidden;
  }

}